redis:
  image: redis

postgres:
  image: postgres
  environment:
    POSTGRES_PASSWORD: secret
    POSTGRES_USER: sentry

app:
  image: sentry:9.0
  ports:
    - 8080:9000
  links:
    - redis
    - postgres
  environment:
    SENTRY_SECRET_KEY: ''
    SENTRY_USE_SSL: 'false'
    SENTRY_EMAIL_HOST: 'mail.example.com'
    SENTRY_EMAIL_PASSWORD: ''
    SENTRY_EMAIL_PORT: 587
    SENTRY_EMAIL_USER: 'notify'
    SENTRY_EMAIL_USE_TLS: 'true'
    SENTRY_SERVER_EMAIL: 'notify@example.com'

cron:
  image: sentry:9.0
  links:
    - redis
    - postgres
  command: sentry run cron
  environment:
    SENTRY_SECRET_KEY: ''

worker:
  image: sentry:9.0
  links:
    - redis
    - postgres
  command: sentry run worker
  environment:
    SENTRY_SECRET_KEY: ''
